<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">
    <title>Roster</title>
    <link rel="stylesheet" href="/CSS/rosterview.css">

</head>
<body>
<div class="nav" id="devnav">
    <a href="InstructorView1.ejs">Home</a>
    <a href="/">Logout</a>
</div>
<h2>Math</h2>
<h4>Pending Students</h4>
<% if(student!=null) {%>
  <p><%=student.id%></p>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Accept/Deny</th>
    </tr>
    <tr>
        <td><%= student.id %></td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td>
        <div class="add" id="add">
            <button type="button" value=<%= student.id %> >Accept</button>
        </div>
            <div class="delete" id="delete">
                <button type="button" value=<%= student.id%> >Deny</button>
            </div>
        </td>
    </tr>
<% } %>
    </table>
  
<table>
    <tr>
        <th>Student ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>12345</td>
        <td>Jenny </td>
        <td>Smith</td>
        <td>Enrolled</td>
    </tr>
    <tr>
        <td>56789</td>
        <td>Jessie</td>
        <td>Jones</td>
        <td>Enrolled</td>
    </tr>
</table>

<script>
    document.getElementById("delete").onclick = function () {
        e.preventDefault();
                    let del= document.getElementById("delete").value;
                    location.href = "/delete";
    };
    document.getElementById("add").onclick = function () {
        e.preventDefault();
                    let add= document.getElementById("add").value;
                    location.href = "/add";
    };

</script>
</body>
</html>